<p id="notice"><%= notice %></p>

<h1>Animals</h1>


<%= will_paginate @animals, list_classes: %w(pagination justify-content-end) %>


<table>
  <tbody>
    <% if @animals.empty? %>
      No animals were found.
    <% else %>

      <% @animals.each do |animal| %>
        <tr>
          <td><%= link_to animal.name, animal, class: "text-decoration-none headline" %></td>
        </tr>
        <tr>
          <td><%= animal.description %></td>
        </tr>
        <tr class="d-flex col-xs-3 justify-content-between pt-2">
          <td><%= link_to 'Show', animal %></td>
          <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
          <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <tr>
          <td><hr></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @animals, list_classes: %w(pagination justify-content-end) %>

<br />

<%= link_to 'New Animal', new_animal_path %>
